.tasklist{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.new h3{
    text-transform: uppercase;
    text-align: center;
}
.search{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.new input{
    width: 40%;
    margin-left: 20%;
    padding: 0.8rem;
    
    outline: none;

    
}
.new button{
    padding: 0.8rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.new button:hover{
    color: rgb(221, 199, 199);
}
.newitemlist{
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px gray;
    padding: 1rem;
    background: whitesmoke;
}
.delandedit span{
    cursor: pointer;
    font-size: 2rem;
}
.delandedit span:first-child{
    color: green;
}
.delandedit span:last-child{
    color: red;
}
.delandedit{
  display: flex;
  justify-content: space-between;
}
.tasklist:hover .delandedit {
    
}