.craate-password{
    width: 50%;
    margin:3rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.craate-password input{
    padding: 0.5rem;
}
.craate-password button{
    padding: 0.5rem;
    border: none;
    background: salmon;
    color: white;
}