.tasklist{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.completed h3{
    text-transform: uppercase;
    text-align: center;
}
.completed input{
    width: 40%;
    margin-left: 20%;
    padding: 0.4rem;
    padding: 0.8rem;
    outline: none;
    border-radius: 5px;
}
.completed button{
    border-radius: 5px;
    padding: 0.8rem;
    cursor: pointer;
    background: darkred;
    color: white;
    border: none;
}
.completed button:hover{
    color: rgb(221, 199, 199);
}
.completeditemlist{
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px gray;
    padding: 1rem;
    background: whitesmoke;
}
.delandedit span{
    cursor: pointer;
    font-size: 2rem;
}
.delandedit span:first-child{
    color: green;
}
.delandedit span:last-child{
    color: red;
}
.delandedit{
  display: flex;
  justify-content: space-between;
}
